### Dataset: Iowa Liquor Sales (Sales & Distribution)
https://data.iowa.gov/Sales-Distribution/Iowa-Liquor-Sales/m3tr-qhgy

In [2]:
import pandas as pd
import numpy as np

In [6]:
import pandas as pd
line = 0
chksz = 1000000
for chunk in pd.read_csv("Data/Iowa_Liquor_Sales.csv",chunksize = chksz):
    line += chunk.shape[0]

In [9]:
line

21190664

In [10]:
# last 1000 rows
df = pd.read_csv("Data/Iowa_Liquor_Sales.csv", skiprows = line - 1000)
df

,INV-36261100005,04/30/2021,4972,Quillins Quality Foods Monona,808 S Main St,Monona,52159,POINT (-91.389805 43.044875),22,CLAYTON,...,59154,1800 Ultimate Margarita,6,"1,750",10.04,15.06,1,15.06.1,1.75,0.46
0,INV-36221400017,04/29/2021,2626,Hy-Vee Drugstore / University / DSM,4100 University Ave,Des Moines,50311,POINT (-93.673222 41.600361),77,POLK,...,86112,Dekuyper Triple Sec,12,"1,000",2.33,3.50,12,42.00,12.00,3.17
1,INV-36256300033,04/30/2021,4180,Smokin' Joe's #10 Tobacco and Liquor Outlet,480 7th Ave,Marion,52302,POINT (-91.605094 42.033366),57,LINN,...,40594,New Amsterdam Peach,12,750,7.50,11.25,1,11.25,0.75,0.19
2,INV-36222000030,04/29/2021,6057,Kum & Go #0731 / Des Moines,3104 University Ave,Des Moines,50311,POINT (-93.65986 41.60036300000001),77,POLK,...,11290,Crown Royal Mini,10,50,7.35,11.03,2,22.06,0.10,0.02
3,INV-36231400051,04/29/2021,2536,HY-VEE / PLEASANT HILL,4815 Maple Drive,Pleasant Hill,50317,POINT (-93.519187 41.598109),77,Polk,...,25608,Seagrams 7 Crown,6,"1,750",12.96,19.44,6,116.64,10.50,2.77
4,INV-36246700001,04/30/2021,3944,Sam's Club 4973 / Dubuque,4400 Asbury Rd,Dubuque,52002,POINT (-90.737821 42.515289),31,DUBUQUE,...,41846,Everclear 151,12,750,8.00,12.00,24,288.00,18.00,4.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,INV-36238600003,04/30/2021,5561,Casey's General Store #32 / Madrid,117 N Kennedy Ave,Madrid,50156,POINT (-93.815677 41.877618),8,BOONE,...,11788,Black Velvet,6,"1,750",10.45,15.68,6,94.08,10.50,2.77
996,INV-36272500021,04/30/2021,2562,Hy-Vee Food Store / Fort Dodge,115 South 29th St,Fort Dodge,50501,POINT (-94.15824700000002 42.504742),94,WEBSTER,...,86507,Paramount Triple Sec,12,"1,000",3.84,5.76,12,69.12,12.00,3.17
997,INV-36238300002,04/30/2021,4023,Wal-Mart 1389 / Boone,1515 SE Marshall St,Boone,50036,POINT (-93.869892 42.035093),8,BOONE,...,17956,Evan Williams Black,12,750,8.00,12.00,12,144.00,9.00,2.37
998,INV-36221700045,04/29/2021,2248,Ingersoll Liquor and Beverage,3500 Ingersoll Ave,Des Moines,50312,POINT (-93.664182 41.586319),77,POLK,...,28206,Bombay Dry Gin,12,750,11.00,16.50,2,33.00,1.50,0.39
999,INV-36232000007,04/29/2021,4617,Lickety Liquor,2501 HUBBELL AVE,Des Moines,50317,POINT (-93.570489 41.607817),77,POLK,...,10807,Crown Royal Regal Apple,12,750,16.59,24.89,12,298.68,9.00,2.37